apiVersion: apps/v1
kind: Deployment
metadata:
  name: glykhol-blog
  labels:
    app: blog
spec:
  replicas: 2
  selector:
    matchLabels:
      app: blog
  template:
    metadata:
      labels:
        app: blog
    spec:
      containers:
      - name: node-blog
        image: glykhol-blog:latest
        imagePullPolicy: Never
        ports:
        - containerPort: 3000
        # Mount the JSON file from the ConfigMap
        volumeMounts:
        - name: posts-data
          mountPath: /app/posts.json
          subPath: posts.json
        resources:
          requests:
            memory: "64Mi"
            cpu: "100m"
          limits:
            memory: "128Mi"
            cpu: "250m"
        livenessProbe:
          httpGet:
            path: /health
            port: 3000
          initialDelaySeconds: 5
          periodSeconds: 30

      - name: cloudflared
        image: cloudflare/cloudflared:latest
        args: ["tunnel", "--no-autoupdate", "run", "--protocol", "http2"]
        resources:
          requests:
            memory: "32Mi"
            cpu: "50m"
          limits:
            memory: "64Mi"
            cpu: "100m"
        env:
        - name: TUNNEL_TOKEN
          valueFrom:
            secretKeyRef:
              name: cloudflare-secret
              key: TUNNEL_TOKEN

      # Define the virtual "drive" that holds the ConfigMap
      volumes:
      - name: posts-data
        configMap:
          name: blog-posts