apiVersion: apps/v1
kind: Deployment
metadata:
  name: glykhol-blog
spec:
  replicas: 2
  selector:
    matchLabels:
      app: blog
  template:
    metadata:
      labels:
        app: blog
    spec:
      containers:
      - name: node-blog
        image: glykhol-blog:latest
        imagePullPolicy: Never
        ports:
        - containerPort: 3000
        env:
        - name: ADMIN_PASSWORD
          valueFrom:
            secretKeyRef:
              name: blog-app-secrets
              key: ADMIN_PASSWORD
      - name: cloudflared
        image: cloudflare/cloudflared:latest
        args: ["tunnel", "--no-autoupdate", "run", "--protocol", "http2"]
        env:
        - name: TUNNEL_TOKEN
          valueFrom:
            secretKeyRef:
              name: cloudflare-tunnel-credentials
              key: TUNNEL_TOKEN
---
apiVersion: v1
kind: Service
metadata:
  name: blog-service
spec:
  selector:
    app: blog
  ports:
  - port: 80
    targetPort: 3000