apiVersion: v1
kind: Secret
metadata:
  name: cloudflare-tunnel-credentials
type: Opaque
data:
  TUNNEL_TOKEN: <BASE64_TOKEN_HERE>
---
apiVersion: v1
kind: Secret
metadata:
  name: blog-app-secrets
type: Opaque
data:
  ADMIN_PASSWORD: <BASE64_PASSWORD_HERE>